.messages {
    background: url('../assets/imgs/bg_messages.png');
}

.messages ion-item {
    background: none;
}

.messages-footer ion-card {
    display: flex;
}

.messages-footer ion-card ion-input {
    padding-left: 5px;
}